.element {
  margin: 0;
  display: grid;
  justify-items: center;
  flex-direction: column;
  position: relative;
}

.pic {
  width: 240px;
  height: 120px;
  object-fit: contain;
}

.price {
  margin: 0;
}

.name {
  margin: 0;
}