.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: left;
  padding-right: 60px;
}

.link {
  width: 320px;
  height: 64px;
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.5s;
}

.link_disactive {
  color: #8585AD;
}

.link:hover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.description {
  margin: 0;
  line-height: 2.5;
}