.feed {
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 320px;
}

.header {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 40px;
}

@media screen and (max-width: 1280px) {
  .header {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 20px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    font-size: 28px;
    text-align: center;
    padding-top: 16px;
  }
}

.feedList {
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  row-gap: 35px;
}

@media screen and (max-width: 490px) {
  .feedList {
    column-gap: 16px;
    row-gap: 35px;
  }
}