.ingridients {
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-width: 320px;
}

@media screen and (max-width: 1280px) {
  .ingridients {
    max-width: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .ingridients {
    max-width: fit-content;
  }
}

.header {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.1;
  padding-top: 40px;
}

@media screen and (max-width: 1280px) {
  .header {
    font-size: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    font-size: 36px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-left: 20px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    font-size: 28px;
    text-align: center;
    padding-top: 16px;
  }
}

.ingridientsListContainer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .ingridientsListContainer {
    margin: 0 20px;
  }
}

@media screen and (max-width: 490px) {
  .ingridientsListContainer {
    margin: 0 8px;
  }
}

@media screen and (max-width: 350px) {
  .ingridientsListContainer {
    margin: 0 auto;
  }
}

.ingridientsListHeader {
  margin: 0;
}

.ingridientsList {
  margin: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 14px;
  row-gap: 35px;
}

@media screen and (max-width: 490px) {
  .ingridientsList {
    column-gap: 16px;
    row-gap: 35px;
  }
}
