.burgerConstructor {
  margin: 0;
  height: 80vh;
  justify-self: end;
  display: block;
}

@media screen and (max-width: 1024px) {
  .burgerConstructor {
    display: none;
  }
}

.burgerConstructorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  max-height: 80%;
  overflow-y: auto;
}

.burgerContainer {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.burgerElementPrice {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  cursor: default;
}

.burgerElementPrice > svg {
  padding-left: 10px;
}

.onHover {
  opacity: 0.5;
  transition: 0.2s ease-in-out;
}

.emptyElement {
  margin-left: calc(var(--offset-base-size) * 8);
  padding: 16px 24px;
  box-sizing: border-box;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  width: 536px;
  min-height: 80px;
  text-align: center;
  line-height: 2;
  cursor: default;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.emptyElementTop {
  border-radius: var(--top-constructor-item-border-radius);
}

.emptyElementBottom {
  border-radius: var(--bottom-constructor-item-border-radius);
}

.buttonInactive {
  cursor: not-allowed;
}